:root{
  --primary-color:#F5F5F5;/*rgb(245, 245, 245)*/
  --secondary-1-color:#E2D784;/*rgb(226, 215, 132)*/
  --secondary-2-color:#05595B;/*rgb(5, 89, 91)*/
  --secondary-3-color:#062C30;/*rgb(6, 44, 48)*/
  --warning-color:#CC3300;/*rgb(204,51,0)*/
  --notification-color:#339900;	/*(51,153,0)*/
  --confirm-color:#0080ff;
  --confirm-hover-color:#003f9a;	/*(0,63,154)*/
  --warning-hover-color:#b62020;	/*(182,32,32)*/
  --notification-hover-color:#00b300;	/*(0,179,0)*/
  --safety-color:#efcc00;
  /*--follow this --*/
  --success:#339900;
  --success-hover:#00b300;
  --info:#0080ff;
  --info-hover:#003f9a;
  --warning:#efcc00;
  --warning-hover:#efcc00;
  --error:#CC3300;
  --error-hover:#b62020;
}
*,*::before,*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.app-container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}
a{
  text-decoration: none;
  color: inherit;
}
input[type='submit']:hover{
  cursor: pointer;
}
.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
svg:hover,button:hover{
  cursor: pointer;
}
ul{
  list-style: none;
}
nav{
  min-height:50px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  background-color: var(--secondary-3-color);
  color: var(--primary-color);
}
nav .nav-logo h4{
  font-weight: 400;
  font-size: 1.5rem;
}
nav .nav-link{
  width: 40%;
}
nav .nav-link ul{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-link ul li{
  height: 100%;
  width: 25%;
}
nav .nav-link a{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 400;
}
nav .nav-link li:last-of-type{
  background-color: blue;
}
nav .nav-link ul li a:hover{
  background-color: var(--secondary-2-color);
}
nav .nav-burger{
  display: none;
  justify-content: center;
  align-items: center;
}
nav .nav-burger svg{
  fill:var(--primary-color);
  height: 30px;
  width: 30px;
}
@media screen and (max-width:1024px) {
  nav .nav-link{
    width: 50%;
  }
}
@media screen and (max-width:900px) {
  nav .nav-burger{
    display: flex;
  }
  nav .nav-link{
    width: 100%;
    height: 150px;
    position: absolute;
    right: 0;
    left: 0;
    top: 50px;
    z-index: 1;
    background-color: var(--secondary-3-color);
    animation: nav .2s ;
  }
  nav .nav-link ul{
    flex-direction: column;
  }
  nav .nav-link ul li{
    width: 100%;
  }
  nav .nav-mobile{
    display: none;
  }
}
main{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  padding: 40px 20px;
}
main .sign-up-form{
  width: 70%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: rgba(6, 44, 48,.1);
  border-radius: 5px;
  padding:20px;
}
main .form-container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-top:50px;
  gap: 10px;
}
main .sign-up-form h1{
  padding: 20px 0;
  text-align: center;
  color: var(--secondary-2-color);
  font-weight: 500;
}
main .sign-up-form input[type='submit']{
  padding: 10px;
  background-color: var(--secondary-2-color);
  color: var(--primary-color);
  border: none;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 10px;
}
main .sign-up-form input[class*='delete-btn']{
  background-color: rgb(255, 65, 60);
}
main .sign-up-form input[type='submit']:hover{
  background-color: var(--secondary-3-color);
}
main .sign-up-form input[class*='delete-btn']:hover{
  background-color:var(--warning-color);
}
main .sign-up-form select,
main .sign-up-form textarea,
main form input:not([type='submit']){
  padding: 8px;
  font-size: 15px;
  background-color: transparent;
  border: 1px solid grey;
  border-radius:5px;
  color: gray;
}
main .sign-up-form textarea{
  min-height: 100px;
  resize: vertical;
}
main form .form-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 5px;
}
main form .form-input label{
  font-size: 14px;
}
main form .form-input span{
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}
main form .form-input input:invalid[focused="true"]{
  border-color: red;
}
main form .form-input input:invalid[focused="true"] ~ span{
  display: block;
}
main form .db-warning{
  color: red;
}
main form .form-checkbox{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
main .cards-gallery{
  background-color:var(--primary-color);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
}
main .cards-gallery svg{
  position: absolute;
  top: 20px;
  right: 20px;
}
main .cards-gallery .cards-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content:center ;
  gap: 20px;
  flex-wrap: wrap;
  overflow-y: scroll;
}
main .cards-gallery .card-space{
  background-color: var(--secondary-2-color);
  color: var(--secondary-1-color);
  border-radius: 10px;
  font-size: 20px;
  width: 30%;
  min-width: 300px;
  min-height: 150px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .cards-gallery .card-space:hover{
  background-color:var(--secondary-1-color);
  color: var(--secondary-2-color);
}
main .cards-gallery .card-add{
  background-color: rgba(0, 0, 0, .2);
}
footer{
  background-color: var(--secondary-3-color);
  padding:20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--primary-color);
  font-size: 17px;
}
footer .footer-media-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
footer .footer-media-container svg{
  fill: var(--primary-color);
  transition: all .1s ease-in;
}
footer .footer-media-container svg:hover{
  transform: scale(1.1);
}
/*model*/
.model{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0,0,.4);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  overflow-y: scroll;
}
.model-container{
  position: relative;
  width: 400px;
  min-height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding:40px 20px;
  background-color: var(--primary-color);
}
.model-container > svg{
  position: absolute;
  top: 10px;
  right: 10px;
}
/*photo model*/
.model-container input[type='file']{
  display: none;
}
.model-container .photo-box{
  background-color: rgba(0, 0,0,.2);
  width: 150px;
  height: 150px;
  border-radius: 5px;
  position: relative;
}
.model-container .photo-label{
  position: absolute;
  height: 100%;
  width: 100%;
}
.model-container .photo-label img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.model-container .photo-label:hover{
  background-color: rgba(0, 0,0,.4);
  cursor: pointer;
}
.model-container .photo-box svg{
  padding: 5px;
  border-radius: 50%;
  background-color: rgba(255,255,255,.7);
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
}
.model-container .photo-box svg:hover{
  background-color: rgba(255,255,255,.9);
}
/*menu model*/
.add-item-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
}
.add-item-form .form-input{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.add-item-form .input-container{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
}
.add-item-form .input-container input{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: transparent;
  font-size: 15px;
}
.add-item-form input[type="submit"]{
  padding: 10px;
  border-radius: 5px;
  background-color: var(--secondary-2-color);
  color: var(--primary-color);
  font-size: 17px;
  border: none;
}
.add-item-form input[type="submit"]:hover{
  background-color: var(--secondary-3-color);
}
.model table {
  border-collapse: collapse;
  width: 100%;
}
.model th,.model td {
  text-align: left;
  padding: 8px;
}
.model tr:nth-of-type(even){
  background-color: var(--secondary-1-color)
}
.model th{
  background-color: var(--secondary-2-color);
  color: white;
}
.model .table-form{
  width: 100%;
}
.model input[class*='delete-btn'],.model input[class*='confirm-btn'],.model input[class*='safety-btn']{
  padding: 10px;
  border-radius: 5px;
  color: var(--primary-color);
  font-size: 20px;
  border: none;
  width: 100%;
}
.model input[class*='confirm-btn']{
  background-color: var(--confirm-color);
}
.model input[class*='confirm-btn']:hover{
  background-color:var(--confirm-hover-color);
}
.model input[class*='delete-btn']{
  background-color: var(--warning-color);
}
.model input[class*='delete-btn']:hover{
  background-color: var(--warning-hover-color);
}
.model .table-form td[class*='action-cell']{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.model .table-form td[class*='action-cell'] svg{
  fill: var(--warning-color);
}
.model .table-form tbody input{
  width: 100px;
  font-size: 20px;
}
/*notification model*/
.notification-model{
  height: auto;
  width: auto;
  background-color: var(--primary-color);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  animation-name: simple;
  animation-duration:1.5s;
  animation-fill-mode: forwards;
}
@keyframes simple {
  0%   {
    top: 0;
    opacity: 0;
  }
  50% {
    top: 10%;
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 0;
  }
}
.note-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.note-box svg:hover{
  cursor: unset;
}
.green{
  color: var(--notification-color);
  border-left: 6px solid var(--notification-color);
}
.red{
  color: var(--warning-color);
  border-left: 6px solid var(--warning-color);
}
.red svg{
  fill: var(--warning-color);
}
.green svg{
  fill: var(--notification-color);
}
/*home*/
main .home-page{
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
main .home-page select{
  width: 50%;
  padding:10px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: transparent;
}
main .home-page select option{
  text-transform: capitalize;
}
main .home-page .card-container{
  padding: 40px 0;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
}
main .home-page .card-box{
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  border-radius: 10px;
}
main .home-page .card-box .photo-gallery{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
main .home-page .card-box .info-card{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  background-color: var(--secondary-2-color);
  color: var(--secondary-1-color);
  border-radius: 10px;
}
main .home-page .card-box .info-card:hover{
  color: var(--secondary-2-color);
  background-color: var(--secondary-1-color);
}
.card-box .info-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card-box .info-box h4{
  opacity: .6;
}
.card-box .info-box h4:last-of-type{
  text-decoration: underline;
}
.card-box .info-box h4:last-of-type:hover{
  opacity: 1;
  cursor: pointer;
}
.card-popup{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--secondary-3-color);
  color: var(--secondary-1-color);
  overflow-y: scroll;
}
.card-popup .card-info{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
  padding: 30px;
}
.card-popup > svg{
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
  fill: white;
}
.card-popup .top-container{
  display: flex;
  flex-direction: row;
}
.photo-gallery{
  flex: 1;
  overflow:hidden;
  height: 550px;
  position: relative;
  border-radius: 10px;
}
.photo-gallery svg{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: white;
  width: 35px;
  height: 35px;
}
.photo-gallery svg:first-of-type{
  left: 5px;
}
.photo-gallery svg:last-of-type{
  right: 5px;
}
.photo-gallery .dots-container{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.photo-gallery .dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid white;
  margin: 0 5px;
  background: white;
  cursor: pointer;
}
.photo-gallery .dot.active {
  background: var(--secondary-3-color);
}
.home-page img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation-name: simple_appear;
  animation-duration:.5s;
  animation-fill-mode:forwards;
  border-radius: 10px;
}
@keyframes simple_appear {
  0%   {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card-popup .info-gallery{
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 20px;
}
.card-popup .info-gallery h1{
  font-size: 40px;
  font-weight: 400;
  color: var(--secondary-1-color);
  position: relative;
}
.card-popup .info-gallery h1::after{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 30%;
  border-bottom: 2px solid var(--secondary-1-color)
}
.card-popup .info-gallery .flex-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.card-popup .info-gallery .flex-box:first-of-type :nth-child(2){
  cursor: pointer;
  text-decoration: underline;
}
.card-popup .info-gallery .flex-box > *:nth-child(2){
  transform: translateX(20px);
}
.card-popup .info-gallery .media-link{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.card-popup .info-gallery .media-link svg{
  width: 30px;
  height: 30px;
  fill: var(--secondary-1-color);
}
.card-popup .info-gallery .media-link svg:hover{
  transform: scale(1.1);
}

.card-popup .bottom-container{

}
.card-popup table {
  border-collapse: collapse;
  width: 100%;
}
.card-popup th,.model td {
  text-align: left;
  padding: 8px;
}
.card-popup tr:nth-of-type(even){
  background-color: var(--secondary-1-color)
}
.card-popup th{
  background-color: var(--secondary-2-color);
  color: white;
}
@media screen and (max-width:800px) {
  .card-popup .top-container{
    flex-direction: column;
  } 
  .photo-gallery{
    max-height: 350px;
  }
}
input[class*='safety-btn']{
  background-color: var(--safety-color);
}