:root{
  --primary-color:#F5F5F5;/*rgb(245, 245, 245)*/
  --secondary-1-color:#E2D784;/*rgb(226, 215, 132)*/
  --secondary-2-color:#05595B;/*rgb(5, 89, 91)*/
  --secondary-3-color:#062C30;/*rgb(6, 44, 48)*/
}
*,*::before,*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.app-container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}
a{
  text-decoration: none;
  color: inherit;
}
input[type='submit']:hover{
  cursor: pointer;
}
.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
svg:hover,button:hover{
  cursor: pointer;
}
ul{
  list-style: none;
}
nav{
  min-height:50px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  background-color: var(--secondary-3-color);
  color: var(--primary-color);
}
nav .nav-logo h4{
  font-weight: 400;
  font-size: 1.5rem;
}
nav .nav-link{
  width: 40%;
}
nav .nav-link ul{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-link ul li{
  height: 100%;
  width: 25%;
}
nav .nav-link a{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 400;
}
nav .nav-link li:last-of-type{
  background-color: blue;
}
nav .nav-link ul li a:hover{
  background-color: var(--secondary-2-color);
}
nav .nav-burger{
  display: none;
  justify-content: center;
  align-items: center;
}
nav .nav-burger svg{
  fill:var(--primary-color);
  height: 30px;
  width: 30px;
}
@media screen and (max-width:1024px) {
  nav .nav-link{
    width: 50%;
  }
}
@media screen and (max-width:900px) {
  nav .nav-burger{
    display: flex;
  }
  nav .nav-link{
    width: 100%;
    height: 150px;
    position: absolute;
    right: 0;
    left: 0;
    top: 50px;
    z-index: 1;
    background-color: var(--secondary-3-color);
    animation: nav .2s ;
  }
  nav .nav-link ul{
    flex-direction: column;
  }
  nav .nav-link ul li{
    width: 100%;
  }
  nav .nav-mobile{
    display: none;
  }
}
main{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  padding: 40px 20px;
}
main .sign-up-form{
  width: 70%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: rgba(6, 44, 48,.1);
  border-radius: 5px;
  padding:20px;
}
main .form-container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-top:50px;
  gap: 10px;
}
main .sign-up-form h1{
  padding: 20px 0;
  text-align: center;
  color: var(--secondary-2-color);
  font-weight: 500;
}
main .sign-up-form input[type='submit']{
  padding: 10px;
  background-color: var(--secondary-2-color);
  color: var(--primary-color);
  border: none;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 10px;
}
main .sign-up-form input[type='submit']:hover{
  background-color: var(--secondary-3-color);
}
main .contact-us-form textarea,
main .contact-us-form select,
main form input:not([type='submit']){
  padding: 8px;
  font-size: 15px;
  background-color: transparent;
  border: 1px solid grey;
  border-radius:5px;
  color: gray;
}
main .contact-us-form textarea{
  min-height: 100px;
  resize: vertical;
}
main form .form-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 5px;
}
main form .form-input label{
  font-size: 14px;
}
main form .form-input span{
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}
main form .form-input input:invalid[focused="true"]{
  border-color: red;
}
main form .form-input input:invalid[focused="true"] ~ span{
  display: block;
}
main form .db-warning{
  color: red;
}
main form .form-checkbox{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
main .cards-gallery{
  background-color: red;
  width: 30%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
main .cards-gallery > *{
  width: 100%;
  background-color: green;
}
main .cards-gallery .cards-container{
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y:scroll;
}
main .cards-gallery .card-space{
  background-color: #E2D784;
  border-radius: 10px;
  width: 100%;
  min-height: 100px;
}

footer{
  background-color: var(--secondary-3-color);
  padding:20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--primary-color);
  font-size: 17px;
}
footer .footer-media-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
footer .footer-media-container svg{
  fill: var(--primary-color);
  transition: all .1s ease-in;
}
footer .footer-media-container svg:hover{
  transform: scale(1.1);
}

