:root{
  --primary-color:#F5F5F5;/*rgb(245, 245, 245)*/
  --secondary-1-color:#E2D784;/*rgb(226, 215, 132)*/
  --secondary-2-color:#05595B;/*rgb(5, 89, 91)*/
  --secondary-3-color:#062C30;/*rgb(6, 44, 48)*/
  --success:#00b300;	/*(51,153,0)*/
  --success-hover:#339900;	/*(0,179,0)*/
  --info:#0080ff;
  --info-hover:#003f9a;	/*(0,63,154)*/
  --warning:#efcc00;
  --warning-hover:#efcc00;
  --error:#CC3300;/*rgb(204,51,0)*/
  --error-hover:#b62020;	/*(182,32,32)*/
}
*,*::before,*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.app-container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}
/*utilities*/
/*---------*/
a{
  text-decoration: none;
  color: inherit;
}
input[type='submit']:hover{
  cursor: pointer;
}
.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
svg:hover,button:hover{
  cursor: pointer;
}
ul{
  list-style: none;
}
select{
  text-transform: capitalize;
  font-size: 15px;
}
/*full-screen-container*/
/*--------------------*/
.full-screen-container{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:black;
  z-index: 99;
}
.full-screen-container svg{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  fill:var(--primary-color);
  z-index:100;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 50%;
}
.full-screen-container img{
  border-radius: 0px !important;
  object-fit: contain !important;
}
/*loading screen*/
/*--------------*/
.loading-container{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .4);
  z-index: 100;
}
.loading{
  height: 50px;
  transform-origin: bottom center;
  animation :  rotate 2s linear infinite
}
.circle{
  display: inline-block;
  background-color: var(--secondary-1-color);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: scale(0);
  animation: grow 1s linear infinite;
}
.circle:nth-child(2){
  animation-delay: 0.5s;
}
@keyframes rotate {
  to{
    transform: rotate(360deg);
  }
}
@keyframes grow {
  50%{
    transform: scale(1);
  }
}
/*Skeleton card*/
/*-------------*/
.skeleton-img{
  width: 100%;
  height: 330px;
  border-radius: 10px;
  opacity: .6;
  animation: skeleton 1s linear infinite alternate;
}
.skeleton-card .info-card{
  background-color: rgba(0, 0, 0, .2) !important;
}
.skeleton-card h1,.skeleton-card h3,.skeleton-card h4{
  border-radius: 10px;
  opacity: .6;
  margin-bottom: 10px;
  animation: skeleton 1s linear infinite alternate;
}
.skeleton-card h1{
  width: 70%;
  height: 1.5rem;
}
.skeleton-card h3{
  width: 40%;
  height: 1rem;
}
.skeleton-card h4{
  width: 20%;
  height: .75rem;
}
@keyframes skeleton {
  0%{
    background-color:rgba(0, 0, 0, .2) ;
  }
  100%{
    background-color: rgba(0, 0,0,.6);
  }
}
/*navigation section*/
/*------------------*/
nav{
  min-height:55px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  background-color: var(--secondary-3-color);
  color: var(--primary-color);
}
nav .nav-logo h4{
  font-weight: 400;
  font-size: 1.5rem;
}
nav .nav-link{
  width: 40%;
}
nav .nav-link ul{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-link ul li{
  height: 75%;
  width: 25%;
}
nav .nav-link a{
  height:100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 400;
  transition: all .2s ease-in;
  position: relative;
}
nav .nav-link ul li:last-of-type{
  background-color: var(--secondary-1-color);
  color: var(--secondary-3-color);
  border-radius: 10px;
}
nav .nav-link ul li:last-of-type a{
  text-align: center;
}
nav .nav-link ul li:last-of-type a:hover,nav .active{
  background-color: var(--secondary-3-color);
}
nav .nav-link ul li a:hover,nav .active{
  color: var(--secondary-1-color);
}
nav .nav-link ul li a:hover::after,nav .active::after {
  content: '';
  position: absolute;
  width: 60%;
  height: 3px;
  background-color: var(--secondary-1-color);
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
nav .nav-burger{
  display: none;
  justify-content: center;
  align-items: center;
}
nav .nav-burger svg{
  fill:var(--primary-color);
  height: 30px;
  width: 30px;
}
@media screen and (max-width:1024px) {
  nav .nav-link{
    width: 50%;
  }
}
@media screen and (max-width:900px) {
  nav .nav-burger{
    display: flex;
  }
  nav .nav-link{
    width: 100%;
    height: 150px;
    position: absolute;
    right: 0;
    left: 0;
    top: 50px;
    z-index: 5;
    background-color: var(--secondary-3-color);
    animation: nav .2s ;
  }
  nav .nav-link ul{
    flex-direction: column;
  }
  nav .nav-link ul li{
    width: 100%;
  }
  nav .nav-mobile{
    display: none;
  }
  nav .nav-link ul li:last-of-type{
    border-radius: 0;
  }
  nav .nav-link ul li a:hover::after,nav .active::after {
    all: unset;  
  }
  nav .nav-link ul li a:hover,nav .active{
    background-color: var(--secondary-2-color);
    color: var(--primary-color);
  }  
  nav .nav-link ul li a:hover{
    background-color: var(--secondary-2-color) !important;
    color: var(--primary-color);
  }
}
/*main section*/
/*------------*/
main{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  padding: 40px 20px;
}
/*form*/
/*----*/
main .form{
  width: 70%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: rgba(6, 44, 48,.1);
  border-radius: 5px;
  padding:20px;
}
main .form-container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-top:50px;
  gap: 10px;
}
main .form h1{
  padding: 20px 0;
  text-align: center;
  color: var(--secondary-2-color);
  font-weight: 500;
}
main .form > svg{
  transform: translateX();
}
main .form input[type='submit']{
  padding: 10px;
  background-color: var(--secondary-2-color);
  color: var(--primary-color);
  border: none;
  border-radius: 5px;
  font-size: 20px;
  margin: 10px 0;
}
main .form input[type='submit']:hover{
  background-color: var(--secondary-3-color);
}
main .form input[class*='delete-btn']{
  background-color: rgb(255, 65, 60);
}
main .form input[class*='delete-btn']:hover{
  background-color:var(--error);
}
main .form .form-container p{
  text-align: center;
}
main .form .form-container p a{
  text-decoration: underline;
}
main .form select,
main .form textarea,
main form input:not([type='submit']){
  padding: 8px;
  font-size: 15px;
  background-color: transparent;
  border: 1px solid grey;
  border-radius:5px;
}
main .form textarea{
  min-height: 100px;
  resize: vertical;
}
main form .form-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 5px;
}
main form .form-input a{
  width: 100%;
  padding: 10px;
  background-color: var(--success);
  color: var(--primary-color);
  text-align: center;
  border-radius: 5px;
}
main form .form-input a:hover{
  background-color: var(--success-hover);
}
main form .form-input{
  position: relative;
}
main form .form-input svg{
  opacity: .6;
  position: absolute;
  right: 8px;
  top: 28px;
}
main form .form-input svg:hover{
  opacity: 1;
}
main form .form-input label{
  font-size: 14px;
}
form .form-input span{
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}
form .form-input input:invalid[focused="true"]{
  border-color: var(--error);
}
form .form-input input:invalid[focused="true"] ~ span{
  display: block;
}
main form .db-warning,
.email-form span{
  color: red;
}
main form .form-checkbox{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  position: relative;
}
main form .form-checkbox h3{
  position: absolute;
  right: 0;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: underline;
}
/*user dashboard*/
/*--------------*/
main .cards-gallery{
  background-color:var(--primary-color);
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}
main .cards-gallery svg{
  position: absolute;
  top: 20px;
  right: 20px;
}
main .cards-gallery .cards-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content:center ;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}
main .cards-gallery .card-space{
  padding: 5px;
  background-color: var(--secondary-2-color);
  color: var(--secondary-1-color);
  border-radius: 10px;
  font-size: 20px;
  width: 30%;
  min-width: 300px;
  min-height: 150px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
}
main .cards-gallery .card-space h3{
  text-align: center;
}
main .cards-gallery .card-space h4{
  text-transform: capitalize;
}
main .cards-gallery .card-space:hover{
  background-color:var(--secondary-1-color);
  color: var(--secondary-2-color);
}
main .cards-gallery .card-add{
  background-color: rgba(0, 0, 0, .2);
}
/*home*/
/*----*/
main .home-page{
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
/*select input for types column*/
/*-----------------------------*/
main .home-page select{
  width: 50%;
  padding:10px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: transparent;
}
/*cardshowing on home screen*/
/*--------------------------*/
main .home-page > p
{
  padding: 40px 0;
}
main .home-page .card-container{
  padding: 40px 0;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
}
main .home-page .card-box{
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  border-radius: 10px;
}
main .home-page .card-box .photo-gallery{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
main .home-page .card-box .info-card{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  background-color: var(--secondary-2-color);
  color: var(--secondary-1-color);
  border-radius: 10px;
}
main .home-page .card-box .info-card h1{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .home-page .card-box .info-card:hover{
  color: var(--secondary-2-color);
  background-color: var(--secondary-1-color);
}
.card-box .info-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.info-card h3{
  text-transform: capitalize;
}
.card-box .info-box h4{
  opacity: .6;
}
.card-box .info-box h4:last-of-type{
  text-decoration: underline;
}
.card-box .info-box h4:last-of-type:hover{
  opacity: 1;
  cursor: pointer;
}
/*card popop*/
/*----------*/
.card-popup{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--secondary-3-color);
  color: var(--secondary-1-color);
  overflow-y: auto;
  z-index: 2;
}
.card-popup .card-info{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
  padding: 30px;
}
.card-popup > svg{
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 3;
  fill: white;
}
.card-popup .top-container{
  display: flex;
  flex-direction: row;
}
.photo-gallery{
  flex: 1;
  overflow:hidden;
  height: 550px;
  position: relative;
  border-radius: 10px;
}
.photo-gallery svg{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: white;
  width: 35px;
  height: 35px;
}
.photo-gallery svg:first-of-type{
  left: 5px;
}
.photo-gallery svg:last-of-type{
  right: 5px;
}
.photo-gallery .dots-container{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.photo-gallery .dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid white;
  margin: 0 5px;
  background: white;
  cursor: pointer;
}
.photo-gallery .dot.active {
  background: var(--secondary-3-color);
}
.home-page img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation-name: simple_appear;
  animation-duration:.5s;
  animation-fill-mode:forwards;
  border-radius: 10px;
}
@keyframes simple_appear {
  0%   {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card-popup .info-gallery{
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 20px;
}
.card-popup .info-gallery h1{
  font-size: 40px;
  font-weight: 400;
  color: var(--secondary-1-color);
  position: relative;
}
.card-popup .info-gallery h1::after{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 30%;
  border-bottom: 2px solid var(--secondary-1-color)
}
.card-popup .info-gallery .flex-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.card-popup .info-gallery .flex-box:first-of-type :nth-child(2){
  cursor: pointer;
  text-decoration: underline;
}
.card-popup .info-gallery .flex-box:nth-of-type(2) :nth-child(2){
  text-transform: capitalize;
}
.card-popup .info-gallery .flex-box > *:nth-child(2){
  transform: translateX(20px);
}
.card-popup .info-gallery .media-link{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.card-popup .info-gallery .media-link svg{
  width: 30px;
  height: 30px;
  fill: var(--secondary-1-color);
}
.card-popup .info-gallery .media-link svg:hover{
  transform: scale(1.1);
}
.card-popup table {
  border-collapse: collapse;
  width: 100%;
}
.card-popup th,.card-popup td {
  text-align: left;
  padding: 8px;
}
.card-popup tr:nth-of-type(even){
  background-color: var(--secondary-1-color);
  color: var(--secondary-3-color);
}
.card-popup th{
  background-color: var(--secondary-2-color);
  color: white;
}
@media screen and (max-width:800px) {
  .card-popup .top-container{
    flex-direction: column;
  } 
  .photo-gallery{
    max-height: 350px;
  }
}
input[class*='safety-btn']{
  background-color: var(--warning);
}
/*translation width*/
/*-----------------*/
font{
  width: 100%;
}
font input{
  width: 100%;
}
/*Error page*//*About us page*/
/*---------------------------*/
main .error-page,main .about-page{
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.error-page  h1,.error-page h3,.error-page a,
.about-page h1,.about-page a{
  text-transform: uppercase;
}
.error-page h1,.about-page h1{
  color: var(--secondary-1-color);
  font-size: 10rem;
  text-align: center;
  text-shadow: 5px 5px 5px rgba(226, 215, 132,.4);
}
.about-page h1{
  font-size: 5rem;
}
.error-page h3{
  color: var(--secondary-2-color);
  font-size: 2rem;
  text-align: center;
}
.error-page p,.about-page p{
  text-align: center;
  font-size: 1.1rem;
  color: var(--secondary-3-color);
}
.error-page .error-btn-option,.about-page .about-btn-option{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.error-page a,.about-page a{
  border-radius: 10px;
  border: 2px solid var(--secondary-2-color);
  padding: 10px 20px;
  font-weight: 500;
  transition: all .2s ease-in;
}
.error-page a:first-of-type,.about-page a:first-of-type{
  background-color: var(--secondary-2-color);
  color: var(--primary-color);
}
.error-page a:last-of-type,main .about-page a:last-of-type{
  background-color: var(--primary-color);
  color: var(--secondary-2-color);
}
/*footer section*/
/*--------------*/
footer{
  background-color: var(--secondary-3-color);
  padding:20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--primary-color);
  font-size: 17px;
}
footer .footer-media-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
footer .footer-media-container svg{
  fill: var(--primary-color);
  transition: all .1s ease-in;
}
footer .footer-media-container svg:hover{
  transform: scale(1.1);
}
/*model*/
/*----*/
.model{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0,0,.4);
  padding: 20px;
  overflow-y: auto;
}
.model-container{
  margin: auto;
  width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding:40px 20px;
  background-color: var(--primary-color);
}
/*photo model*/
.model-container input[type='file']{
  display: none;
}
.model-container .photo-box{
  background-color: rgba(0, 0,0,.2);
  width: 150px;
  height: 150px;
  border-radius: 5px;
  position: relative;
}
.model-container .photo-label{
  position: absolute;
  height: 100%;
  width: 100%;
}
.model-container .photo-label img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.model-container .photo-label:hover{
  background-color: rgba(0, 0,0,.4);
  cursor: pointer;
}
.model-container .photo-box svg{
  padding: 5px;
  border-radius: 50%;
  background-color: rgba(255,255,255,.7);
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
}
.model-container .photo-box svg:hover{
  background-color: rgba(255,255,255,.9);
}
/*menu model*/
.add-item-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
}
.add-item-form .form-input{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.add-item-form .input-container{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
}
.add-item-form .input-container input{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: transparent;
  font-size: 15px;
}
.add-item-form input[type="submit"]{
  padding: 10px;
  border-radius: 5px;
  background-color: var(--secondary-2-color);
  color: var(--primary-color);
  font-size: 17px;
  border: none;
}
.add-item-form input[type="submit"]:hover{
  background-color: var(--secondary-3-color);
}
.model table {
  border-collapse: collapse;
  width: 100%;
}
.model th,.model td {
  text-align: left;
  padding: 8px;
}
.model tr:nth-of-type(even){
  background-color: var(--secondary-1-color);
}
.model th{
  background-color: var(--secondary-2-color);
  color: white;
}
.model .table-form{
  width: 100%;
}
.model input[class*='delete-btn'],.model input[class*='confirm-btn'],.model input[class*='safety-btn']{
  padding: 10px;
  border-radius: 5px;
  color: var(--primary-color);
  font-size: 20px;
  border: none;
  width: 100%;
}
.model input[class*='confirm-btn']{
  background-color: var(--info);
}
.model input[class*='confirm-btn']:hover{
  background-color:var(--info-hover);
}
.model input[class*='delete-btn']{
  background-color: var(--error);
}
.model input[class*='delete-btn']:hover{
  background-color: var(--error-hover);
}
.model .table-form td[class*='action-cell']{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.model .table-form td[class*='action-cell'] svg{
  fill: var(--secondary-3-color);
}
.model .table-form tbody input{
  width: 100px;
  font-size: 20px;
}
/*notification model*/
.notification-model{
  height: auto;
  width: auto;
  background-color: var(--primary-color);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 5px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  animation-name: simple;
  animation-duration:3s;
  animation-fill-mode: forwards;
}
@keyframes simple {
  0%   {
    top: 0;
    opacity: 0;
  }
  50% {
    top: 10%;
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 0;
  }
}
.note-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.note-box svg:hover{
  cursor: unset;
}
.green{
  color: var(--success);
  border-left: 6px solid var(--success);
}
.red{
  color: var(--error);
  border-left: 6px solid var(--error);
}
.red svg{
  fill: var(--error);
}
.green svg{
  fill: var(--success);
}
/*Password popup*/
/*--------------*/
.password-popup{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, .4);
}
.password-popup .container{
  position: relative;
  width: 550px;
  max-width: 550px;
  min-height: 350px;
  padding: 20px;
  padding-bottom: 100px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  gap: 20px;
  color: var(--secondary-3-color);
  border-radius: 10px;
}
.password-popup .container  svg{
  fill: var(--secondary-3-color);
}
.password-popup .container > svg{
  position: absolute;
  top: 10px;
  right: 10px;
}
.password-popup .container .email-form{
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  gap: 15px;
}
.password-popup .container input{
  border-radius: 10px;
  color: var(--secondary-3-color);
}
.password-popup .container .email-form input[type='submit']{
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 500;
  color: var(--primary-color);
  background-color: var(--secondary-3-color);
}
.password-popup .container button{
  color: var(--primary-color);
  background-color: var(--secondary-3-color);
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  position: absolute;
  bottom:20px;
  font-size: 15px;
  font-weight: 500;
}
.password-popup .container button:disabled{
  opacity: .7;
}
.prev-btn{
  left:20px;
}
.next-btn{
  right:20px;
}
/*pagination*/
/*----------*/
.pagination{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.pagination button{
  height: 100%;
  background-color: var(--secondary-3-color);
  letter-spacing: 5px;
  padding:15px 40px;
  color: var(--primary-color);
  border: none;
  border-radius: 10px;
  font-size: 1rem;
}
.pagination button:disabled{
  opacity: .6;
}
.pagination ul{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.pagination ul li{
  padding: 10px 10px;
  background-color: var(--secondary-2-color);
  color: var(--primary-color);
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}
.pagination ul li.active{
  background-color: var(--secondary-1-color);
  color: var(--secondary-3-color);
}
.home-page .load-more{
  margin: 10px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--secondary-2-color);
  color: var(--primary-color);
  font-size: 1rem;
}
.home-page .load-more:hover{
  background-color: var(--secondary-3-color);
}
/* model svg functionality*/
/*------------------------*/
.model-svg{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.model-svg li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--primary-color);
  padding:10px;
  border-radius: 10px;
  flex: 1;
  position: relative;
  text-align: center;
}
.model-svg li.succ-btn{
  background-color: var(--success);
}
.model-svg li.succ-btn:hover{
  background-color: var(--success-hover);
}
.model-svg li.cancel-btn{
  background-color: var(--info);
}
.model-svg li.cancel-btn:hover{
  background-color: var(--info-hover);
}
.model-svg li.warn-btn{
  background-color: var(--error);
}
.model-svg li.warn-btn:hover{
  background-color: var(--error-hover);
}
.model-svg li:hover{
  cursor: pointer;
}
.model-svg li svg{
  fill: var(--primary-color);
}
/*tooltip*/
/*-------*/
.model-svg li::before,
.model-svg li::after{
  --scale:0;
  position: absolute;
  left: 50%;
  top: -.25rem;
  transform: translateX(-50%) translateY(-100%) scale(var(--scale)); 
  transition: 150ms transform;
}
.model-svg li::before{
  content: attr(data-tooltip);
  color: var(--primary-color);
  padding: .5rem;
  border-radius: .3rem;
  text-align: center;
  width:max-content ;
  max-width: 100%;
  background-color: inherit;
}
.model-svg li:hover::before{
  --scale:1
}